In [1]:
import pandas as pd

In [35]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\test.csv")
df.head()

,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,ExpeditedListing,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,6LLJ,10645.0,9/22/2010,ZCI3,6015,CAT3,A,missing,9568.0,0,...,B,5911.0,UA42,BLUE,NC,67549,2006,A,4,8311.0
1,QD0H,9891.0,3/12/2010,RRJQ,7625,OTHER,A,missing,8888.0,0,...,A,5370.0,BUNS,BLUE,FL,56570,2004,B,6,7123.0
2,I7GR,8426.0,10/12/2009,ZCI3,6900,CAT2,B,missing,7911.0,0,...,A,6862.0,8YTZ,BLACK,OK,51840,2008,A,1,7994.0
3,5KS5,9269.0,5/20/2010,PRN0,6475,CAT1,B,missing,7773.0,0,...,A,4872.0,FIVQ,GREEN,CO,83300,2005,A,5,5259.0
4,918O,5366.0,1/13/2009,C8A4,3960,CAT1,A,missing,4134.0,0,...,A,3365.0,KT8F,BLACK,NC,95035,2003,A,6,4362.0

In [37]:
df.shape

(10948, 30)

In [39]:
df.columns.tolist()

['InteriorsStyle',
 'PriceIndex8',
 'ListDate',
 'Material',
 'PriceIndex9',
 'Agency',
 'AreaIncomeType',
 'EnvRating',
 'PriceIndex7',
 'ExpeditedListing',
 'PriceIndex4',
 'PriceIndex1',
 'PriceIndex6',
 'PRIMEUNIT',
 'Channel',
 'Zip',
 'InsurancePremiumIndex',
 'PlotType',
 'Architecture',
 'PriceIndex3',
 'Region',
 'PriceIndex5',
 'SubModel',
 'Facade',
 'State',
 'NormalisedPopulation',
 'BuildYear',
 'RegionType',
 'PropertyAge',
 'PriceIndex2']

In [45]:
df.replace(['0', 'missing', 'Missing'], pd.NA, inplace=True)

In [47]:
df.head()

,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,ExpeditedListing,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,6LLJ,10645.0,9/22/2010,ZCI3,6015,CAT3,A,<NA>,9568.0,0,...,B,5911.0,UA42,BLUE,NC,67549,2006,A,4,8311.0
1,QD0H,9891.0,3/12/2010,RRJQ,7625,OTHER,A,<NA>,8888.0,0,...,A,5370.0,BUNS,BLUE,FL,56570,2004,B,6,7123.0
2,I7GR,8426.0,10/12/2009,ZCI3,6900,CAT2,B,<NA>,7911.0,0,...,A,6862.0,8YTZ,BLACK,OK,51840,2008,A,1,7994.0
3,5KS5,9269.0,5/20/2010,PRN0,6475,CAT1,B,<NA>,7773.0,0,...,A,4872.0,FIVQ,GREEN,CO,83300,2005,A,5,5259.0
4,918O,5366.0,1/13/2009,C8A4,3960,CAT1,A,<NA>,4134.0,0,...,A,3365.0,KT8F,BLACK,NC,95035,2003,A,6,4362.0

In [49]:
print(df.isnull().sum())

InteriorsStyle               0
PriceIndex8                 43
ListDate                     0
Material                     0
PriceIndex9                  0
Agency                       0
AreaIncomeType             498
EnvRating                10472
PriceIndex7                 43
ExpeditedListing             0
PriceIndex4                  4
PriceIndex1                  4
PriceIndex6                 43
PRIMEUNIT                10472
Channel                      0
Zip                          0
InsurancePremiumIndex        0
PlotType                     0
Architecture                 0
PriceIndex3                  4
Region                       3
PriceIndex5                 43
SubModel                     0
Facade                       3
State                        0
NormalisedPopulation         0
BuildYear                    0
RegionType                   0
PropertyAge                  0
PriceIndex2                  4
dtype: int64